* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif; }

body {
  padding: 0;
  margin: 0; }

button {
  border: 2px solid #2364AA;
  border-radius: 6px;
  background-color: #3DA5D9;
  padding: 6px 24px; }

button:hover {
  background-color: #2364AA;
  color: white; }

header, footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 0 12px; }

header {
  border-bottom: 1px solid #2364AA;
  top: 0;
  height: 64px; }

header h2 {
  font-size: 32px;
  display: flex;
  align-items: center; }
  header h2 a {
    color: #FEC601;
    text-decoration: none; }

header .logo {
  width: 100px; }

footer {
  bottom: 0;
  height: 46px; }

footer .links {
  margin: 0; }
  footer .links li {
    display: inline; }

.ocean {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-image: url(../images/ocean.svg);
  background-size: contain;
  background-color: #3c65af;
  background-repeat: repeat-x;
  animation: sea 5000s linear infinite; }
  .ocean img {
    position: absolute; }
  .ocean .fish-1 {
    left: 10%;
    bottom: 20%;
    width: 14%;
    animation: revolta 5s infinite; }
  .ocean .fish-2 {
    right: 10%;
    bottom: 24%;
    width: 14%;
    animation: revolta 5s 2s infinite; }
  .ocean .seagull {
    width: 10%;
    top: 8%;
    left: 100%;
    animation: fly 13s linear 2s infinite; }

@keyframes fly {
  0% {
    left: 100%; }
  100% {
    left: -20%; } }

@keyframes sea {
  0% {
    background-position-x: 0; }
  100% {
    background-position-x: 100000%; } }

@keyframes revolta {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-20px); }
  100% {
    transform: translatey(0px); } }
